@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-navbar:hover a {
    /* Change text color of all links to grey */
    color: grey;
  }
  
  .custom-navbar a:hover {
    /* Ensure the hovered link remains black */
    color: black;
  }
  
  .scale-hover:hover span {
    transform: scale(1.1); /* Increase the size of the icon */
    transition: transform 0.2s; /* Smooth transition for the scaling effect */
  }

.custom-carousel-item {
  object-fit: cover;
  object-position: center center;
  width: calc(33.33% - 1rem * 1 / 2);
  max-width: 50%;
}

.custom-hero {
  background-image: url(http://images.salsify.com/image/upload/s--35mrsC77--/7b8cc3ac2424f7186070c5e491b2b761bf5eb250.jpg);
  background-size: cover;
  background-position: center;
  background-color: #f3f4f5;
  align-items: center;

  position: relative;
  min-height: 700px;
  display: flex;
}