@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-navbar:hover a {
    /* Change text color of all links to grey */
    color: grey;
  }
  
  .custom-navbar a:hover {
    /* Ensure the hovered link remains black */
    color: black;
  }
  
  .scale-hover:hover span {
    transform: scale(1.1); /* Increase the size of the icon */
    transition: transform 0.2s; /* Smooth transition for the scaling effect */
  }

.custom-carousel-item {
  object-fit: cover;
  object-position: center center;
  width: calc(33.33% - 1rem * 1 / 2);
  max-width: 50%;
}

.custom-hero {
  position: relative;
  min-height: 700px;
  display: flex;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-color: #f3f4f5;  
}

.hero-content-wrapper {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 990px) {
  .custom-hero {
    min-height: 625px;
    align-items: flex-end;
  }

  .hero-content-wrapper, .hero-content {
    width: 100%;
  }

  .hero-content-wrapper {
    position: absolute;
    bottom: -100px;
    background-color: white;
  }

  .hero-content {
    width: 100%;
    padding: 0px 25px;
  }
}
  
  #adBtn:hover {
    color: blue;
}

.zoom-icon {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.0s linear;
}

.product-image:hover .zoom-icon {
    visibility: visible;
    opacity: 1;
}


/* .test-comps {
  border: red 1px solid;
} */